@charset "UTF-8";

@import url('reset.css');
@import url('fonts.css');

body{margin: 200px 550px;}
.container{width: 800px;height: 500px;background:url(../images/bg2.png);overflow: hidden;
z-index: 1;animation:night 1s forwards;animation-delay:2.5s;transition: 1s;}
@keyframes night {
    0%{background: url(../images/bg2.png);}
    100%{background: url(../images/bg4.png);}
}
header{width: 100%;height: 51px;margin-bottom: 25px;}
header .left_logo{float: left;margin-left: 19px;margin-top: 6px;}
header .right_logo{float: right;margin-right: 19px;margin-top: 12px;}

.text_box{position: absolute;left: 50%;transform: translateX(-50%);}

#visual{width: 721px;height: 325px;margin: 0 40px;;margin-top: 85px;}

#visual ul{display: flex;}


#visual li:nth-child(1) > figure.pb{margin-top: 170px;}
#visual li:nth-child(1) > figure.ball{position: absolute;top: 340px;left: 640px;}

#visual li:nth-child(2){margin-left: 20px;}
#visual li:nth-child(2){width: 321px;height: 313px;;position: relative;}

#visual li:nth-child(2) .visual_logo{margin-left: 90px;position: absolute;animation:ozoo 1s forwards cubic-bezier(.31,.91,.63,1.12);animation-delay: 1.3s;top: -500px;}

@keyframes ozoo{
    0%{top:-500px;}
    100%{top:0}
}

#visual li:nth-child(2) .ann{position: absolute;top: -1000px;left: 50px;animation:ann 1s forwards;animation-delay:.3s}

@keyframes ann{
    0%{top:2200px;}
    100%{top: 150px;}
}

#visual li:nth-child(2) .land{position: absolute;top: 205px;right: -650px;animation:land 1s forwards;animation-delay: .2s;}

@keyframes land{
    0%{right: -500px;}
    100%{right: 30px;}
}

#visual li:nth-child(2) .yp{position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);animation: yp 1s forwards}

@keyframes yp{
    0%{left: -100%;;}
    100%{left: 50%;}
}

#visual li:nth-child(2) .lt{position: absolute;left: 40px;top: 40px;animation: lt 1s forwards cubic-bezier(.31,.91,.63,1.12);opacity: 0;animation-delay:.3s;}
@keyframes lt {
    0%{left: 410px;opacity: 0;}
    50%{opacity: 1;}
    100%{left:40px;opacity: 1;}
}
#visual li:nth-child(2) .lm{position: absolute;left: 34px;top: 100px;animation: lm 1s forwards cubic-bezier(.31,.91,.63,1.12);opacity: 0;animation-delay: 1.2s;}
@keyframes lm {
    0%{top: 300px;;opacity: 0;}
    50%{opacity: 1;}
    100%{top: 100px;;opacity: 1;}
}
#visual li:nth-child(2) .lb{position: absolute;left: 7px;top: 150px;animation: lb 1s forwards cubic-bezier(.31,.91,.63,1.12);opacity: 0;animation-delay: .9s;}
@keyframes lb {
    0%{top: 0;opacity: 0;}
    50%{opacity: 1;}
    100%{top: 150px;;opacity: 1;}
}
#visual li:nth-child(2) .rt{position: absolute;right: 0px;top: 20px;animation: rt 1s forwards cubic-bezier(.31,.91,.63,1.12);opacity: 0;animation-delay:0.6s ;}
@keyframes rt {
    0%{right: 410px;opacity: 0;}
    50%{opacity: 1;}
    100%{right: 0;;opacity: 1;}
}
#visual li:nth-child(2) .rm{position: absolute;right: -5px;top: 115px;animation: rm 1s forwards cubic-bezier(.31,.91,.63,1.12);opacity: 0;animation-delay:1.5s ;}
@keyframes rm {
    0%{right: 410px;opacity: 0;}
    50%{opacity: 1;}
    100%{right: -5px;;opacity: 1;}
}


#visual li:nth-child(3) figure.yeti{margin-top: 130px;margin-left: 30px;}
#visual li:nth-child(3) figure.ball{position: absolute;top: 340px;right: 680px;}


.brstar > span:nth-child(1){position: absolute;top: 240px;left: 620px;animation:bz 4s infinite;
    animation-delay:2.5s;opacity: 0;}
@keyframes bz{
    0%{opacity: 0.2;}
    100%{opacity: 1;}
}

.brstar > span:nth-child(2){position: absolute;top: 280px;right: 560px;animation:bz2 4s infinite;
    animation-delay:3.2s;opacity: 0;}
    @keyframes bz2{
        0%{opacity: 0.2;}
        100%{opacity: 1;}
    }
.brstar > span:nth-child(3){position: absolute;top: 350px;right: 760px;animation:bz3 4s infinite;
    animation-delay:3.5s;opacity: 0;}
    @keyframes bz3{
        0%{opacity: 0.2;}
        100%{opacity: 1;}
    }
.brstar > span:nth-child(4){position: absolute;top: 180px;right: 800px;animation:bz4 4s infinite;
    animation-delay:4.0s;opacity: 0;}
    @keyframes bz4{
        0%{opacity: 0.2;}
        100%{opacity: 1;}
    }
.brstar > span:nth-child(5){position: absolute;top: 190px;right: 1000px;animation:bz5 4s infinite;
    animation-delay:4.5s;opacity: 0;}
    @keyframes bz5{
        0%{opacity: 0.2;}
        100%{opacity: 1;}
    }

#footer{text-align: center;}
